.mobile
  display: none
.desktop
  display: block

.container
  display: block
  margin: 0 auto
  position: relative
  width: 960px

.header--wrapper
  img
  nav

.banner--wrapper
  background: url( "../img/desktop/perro-paseando-por-la-playa.png" ) no-repeat scroll 0 0 transparent
  background-size: 100%
  display: flex
  flex-flow: column nowrap
  height: 48.4666666667vw
  overflow: unset
  .banner--wrapper__banner
    height: 100%
    margin: 0 auto
  img
    align-self: flex-start
    left: unset
    position: absolute
    right: 0
    transform: unset
    &.iams
      top: 16.6015625vw
      width: 535px
    &.superama
      transform: translate( -15%, 0)
      top: 29.296875vw
      width: 425px

.announce--wrapper
  position: relative
  .announce--wrapper__announce
    font-size: 4.0299906279vw
    height: 17.0152628604vw
    left: 0
    margin: 0
    padding: 1.4058106842vw 0 0 9.3720712277vw
    text-shadow: 5px 5px 0 $orange-shadow
    width: 50%

.main--wrapper
  position: relative
  .announce--wrapper
    height: 0
    .announce--wrapper__announce
      transform: translate( 0, -26% )
      top: 25%
  .results
    margin: 16.1542470036vw 0 0
    h1
      font-size: em( 40px, 16 )
      strong
        font-size: em( 60px, 40 )
    h2
      font-size: em( 25, 16 )
      &:before, &:after
        font-size: 30px
    div
      box-sizing: border-box
      flex-flow: column nowrap
      margin: 50px 0 0
      padding: 0 0 150px
    article
      display: inline-flex
      flex-flow: column nowrap
      margin: 0
      padding: 0
      width: 33%
      figure
        img
        p
          font-size: em( 25px, 16 )
        figcaption
          font-size: em( 25px, 16 )
          span
            font-size: em( 50px, 25 )
      p
        font-size: em( 16px, 16 )
        margin-left: auto
        margin-right: auto
        width: 80%

.brands--wrapper
  display: flex
  flex-flow: row nowrap
  article
    align-self: center
    width: 50%
  .announce--wrapper
    .announce--wrapper__announce
      width: 100%
  .superama
    box-sizing: border-box
    display: inline-flex
    flex-flow: column nowrap
    padding: 0
    img
      align-self: center
      display: block
      margin: 0 auto
      width: auto

.bags--wrapper
  height: auto
  overflow: hidden
  top: 0
  img

.footer--wrapper
  margin: 0 auto
  padding: 0 0 50px
  h4
    font-size: em( 25px, 16 )
    margin-top: 0
    padding-top: 0
  nav
    box-sizing: border-box
    margin-bottom: 50px
    width: 275px
    ul
      li
        margin: 20px 40px 0
        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0
        a
          i
  p
    font-size: em( 13px, 16 )

.oval
  &:before
    bottom: unset
    height: 490px
    top: 430px
    width: 130%