@font-face
  font-family: "GothamBlack";
  src: url( '../fonts/Gotham-Black.eot' );
  src: url( '../fonts/Gotham-Black.eot?#iefix' )      format( 'embedded-opentype' );
  src: url( '../fonts/Gotham-Black.woff2' )           format( 'woff2' );
  src: url( '../fonts/Gotham-Black.woff' )            format( 'woff' );
  src: url( '../fonts/Gotham-Black.ttf' )             format( 'truetype' );
  src: url( '../fonts/Gotham-Black.svg#svgFontName' ) format( 'svg' );
  font-weight: "normal";
  font-style: "normal";
@font-face
  font-family: "GothamBold";
  src: url( '../fonts/Gotham-Bold.eot' );
  src: url( '../fonts/Gotham-Bold.eot?#iefix' )       format( 'embedded-opentype' );
  src: url( '../fonts/Gotham-Bold.woff2' )            format( 'woff2' );
  src: url( '../fonts/Gotham-Bold.woff' )             format( 'woff' );
  src: url( '../fonts/Gotham-Bold.ttf' )              format( 'truetype' );
  src: url( '../fonts/Gotham-Bold.svg#svgFontName' )  format( 'svg' );
  font-weight: "normal";
  font-style: "bold";
@font-face
  font-family: "GothamBook";
  src: url( '../fonts/Gotham-Book.eot');
  src: url( '../fonts/Gotham-Book.eot?#iefix' )       format( 'embedded-opentype' );
  src: url( '../fonts/Gotham-Book.woff2' )            format( 'woff2' );
  src: url( '../fonts/Gotham-Book.woff' )             format( 'woff' );
  src: url( '../fonts/Gotham-Book.ttf' )              format( 'truetype' );
  src: url( '../fonts/Gotham-Book.svg#svgFontName' )  format( 'svg' );
  font-weight: "normal";
  font-style: "bold";
@font-face
  font-family: "GothamLight";
  src: url( '../fonts/Gotham-Light.eot' );
  src: url( '../fonts/Gotham-Light.eot?#iefix' )        format( 'embedded-opentype' );
  src: url( '../fonts/Gotham-Light.woff2' )             format( 'woff2' );
  src: url( '../fonts/Gotham-Light.woff' )              format( 'woff' );
  src: url( '../fonts/Gotham-Light.ttf' )               format( 'truetype' );
  src: url( '../fonts/Gotham-Light.svg#svgFontName' )   format( 'svg' );
  font-weight: "normal";
  font-style: "normal";
@font-face
  font-family: "GothamRoundedBook";
  src: url( '../fonts/GothamRounded-Book.eot' );
  src: url( '../fonts/GothamRounded-Book.eot?#iefix' )        format( 'embedded-opentype' );
  src: url( '../fonts/GothamRounded-Book.woff2' )             format( 'woff2' );
  src: url( '../fonts/GothamRounded-Book.woff' )              format( 'woff' );
  src: url( '../fonts/GothamRounded-Book.ttf' )               format( 'truetype' );
  src: url( '../fonts/GothamRounded-Book.svg#svgFontName' )   format( 'svg' );
  font-weight: "normal";
  font-style: "normal";
@font-face
  font-family: "GothamRoundedMedium";
  src: url( '../fonts/GothamRounded-Medium.eot' );
  src: url( '../fonts/GothamRounded-Medium.eot?#iefix' )        format( 'embedded-opentype' );
  src: url( '../fonts/GothamRounded-Medium.woff2' )             format( 'woff2' );
  src: url( '../fonts/GothamRounded-Medium.woff' )              format( 'woff' );
  src: url( '../fonts/GothamRounded-Medium.ttf' )               format( 'truetype' );
  src: url( '../fonts/GothamRounded-Medium.svg#svgFontName' )   format( 'svg' );
  font-weight: "normal";
  font-style: "normal";
@font-face
  font-family: "LibelSuitRg";
  src: url( '../fonts/LibelSuitRg-Regular.eot' );
  src: url( '../fonts/LibelSuitRg-Regular.eot?#iefix' )       format( 'embedded-opentype' );
  src: url( '../fonts/LibelSuitRg-Regular.woff2' )            format( 'woff2' );
  src: url( '../fonts/LibelSuitRg-Regular.woff' )             format( 'woff' );
  src: url( '../fonts/LibelSuitRg-Regular.ttf' )              format( 'truetype' );
  src: url( '../fonts/LibelSuitRg-Regular.svg#svgFontName' )  format( 'svg' );
  font-weight: "normal";
  font-style: "normal";
