.mobile
  display: block
.desktop
  display: none

.wrapper, .container
  width: 100%

body
  display: block
  width: 100%

.header--wrapper
  background-color: $green-header
  display: flex
  flex-flow: row nowrap
  position: relative
  width: 100%
  img
    align-self: center
    margin: 15px 0 15px 15px
  nav
    position: absolute
    transform: translate( 0, -50% )
    top: 50%
    right: 0

nav
  ul
    display: flex
    flex-flow: row nowrap
    list-style: none inside
    margin: 0
    padding: 0
    li
      margin: 10px 15px
      a
        text-decoration: none
        i
          &:before
            color: #fff

.banner--wrapper
  background: url( "../img/mobile/cover.png" ) no-repeat scroll center top transparent
  background-size: 100%
  height: 150.9375vw
  overflow: none
  .banner--wrapper__banner
    margin: 0
  img
    left: 50%
    margin: 0
    position: relative
    transform: translate( -50%, 0 )
    &.iams
      top: 12.5vw
    &.superama
      top: 18.75vw

.announce--wrapper
  position: relative
  width: 100%
  .announce--wrapper__announce
    background: url( "../img/desktop/llego-a-mexico.png" ) no-repeat scroll left center transparent
    background-size: 100%
    box-sizing: border-box
    color: $white
    display: block
    font: normal 900 8.75vw/1.2em 'GothamBlack'
    height: 33.75vw
    letter-spacing: 0.2px
    margin: 0
    padding: 2.1875vw 0 0 12.5vw
    text-transform: uppercase
    text-shadow: 3px 3px 0 $orange-shadow
    width: 100%

.main--wrapper
  .announce--wrapper
    height: 0
    .announce--wrapper__announce
      position: absolute
      top: -9.375vw
  .results
    margin: 31.25vw 0 0
    h1
      color: $green-header
      display: block
      font: bold 20px/1.2em 'GothamBook'
      letter-spacing: 0.3px
      margin: 0 auto
      text-align: center
      text-transform: uppercase
      strong
        color: $grey
        font: normal 900 30px/1.2em 'GothamBlack'
        letter-spacing: 0.5px
    h2
      color: $green-header
      display: block
      font: normal 900 15px/1em 'GothamBlack'
      letter-spacing: 0.2px
      margin: 0 auto
      text-align: center
      text-transform: uppercase
      &:before, &:after
        content: "-"
        display: inline-block
        font: normal 65px/0 'GothamLight'
        height: 4px
        position: relative
        top: 0
        transform: translate( 0, 330% )
      &:before
        left: 0
      &:after
        right: 0

    div.container
      box-sizing: border-box
      padding: 0
    article
      box-sizing: border-box
      display: block
      margin: 10.9375vw auto
      figure
        margin: 0 auto
        img
          display: block
          margin: 0 auto
        p
          color: $green-header
          display: block
          margin: 0.9765625vw auto 0
          text-align: center
          width: 100%
        figcaption
          color: $grey
          display: block
          font: normal 1em/1.2em 'LibelSuitRg'
          text-align: center
          text-transform: uppercase
          span
            color: $grey
            display: block
            font: normal 1em/0.875em 'LibelSuitRg'
          &.skin
            font-size: em( 38, 16 )
            span
              font-size: em( 68, 38 )
          &.digestion
            font-size: em( 53, 16 )
            span
              font-size: em( 48, 53 )
          &.energy
            font-size: em( 60, 16 )
            span
              font-size: em( 46, 60 )
      > p
        color: $grey
        font: normal 6.25vw/1.4em 'GothamBook'
        letter-spacing: 0.2px
        margin: 3.125vw 2.8125vw 0
        text-align: justify

.brands--wrapper
  display: flex
  flex-flow: column nowrap
  padding: 0 0 40px
  article
    align-self: center
    with: 100%
  .announce
    h4
  .superama
    box-sizing: border-box
    padding: 10%
    img
      display: block
      margin: 0 auto
      width: 80%

.bags--wrapper
  display: flex
  flex-flow: column nowrap
  height: 46.875vw
  margin: 0 auto
  padding: 0
  position: relative
  top: -35px
  z-index: 1
  .announce--wrapper
    height: 34.375vw
  img
    align-self: center
    margin: 0 auto
    position: relative
    z-index: 1
  .container
    height: 108.4375vw
    position: relative
  .container__buyBtn
    background: url( "../img/desktop/comprar-ahora.png" ) no-repeat scroll center center transparent
    background-size: 100%
    bottom: 0
    box-sizing: border-box
    color: $white
    display: block
    font: normal 900 8.75vw/10.9375vw 'GothamBlack'
    height: 25vw
    left: 50%
    letter-spacing: 0.2px
    margin: 0 auto
    padding: 1.25vw 0 0
    position: absolute
    text-align: center
    text-decoration: none
    text-transform: uppercase
    text-shadow: 3px 3px 0 $orange-shadow
    transform: translate( -50%, 0 )
    width: 70.3125vw
    z-index: 2

.footer--wrapper
  background-color: $green-footer
  margin: 6.25vw 0 0
  padding: 43.75vw 0 15.625vw
  position: relative
  width: 100%
  z-index: 0
  h4
    color: #fff
    font: normal 900 18px/1.4em 'GothamBlack'
    text-align: center
    text-transform: uppercase
    width: 100%
  .footer__social
    margin: 0 auto 14.6875vw
    width: 71.875vw
    ul
      li
        box-sizing: border-box
        margin: 3.125vw 7.8125vw
        a
          i
  .footer__links
    box-sizing: border-box
    display: flex
    flex-flow: row nowrap
    margin: 4.6875vw auto 0
    padding: 0
    width: 89.0625vw
    li
      box-sizing: border-box
      list-style: none inside
      padding: 0 1.5625vw
      position: relative
      width: 50%
      &:after
        content: "|"
        color: $white
        font: normal 3.125vw/2em "GothamLight"
        right: 1.25vw
        position: absolute
        transform: translate(0, -50%)
        top: 50%
      &:first-child
        padding-left: 0
      &:last-child
        padding: 0
        &:after
          content: ""
      a
        color: $white
        display: block
        font: normal 900 3.125vw/2em 'GothamLight'
        text-align: center
        text-decoration: none
  p
    color: #fff
    font: normal 900 3.125vw/2em 'GothamLight'
    letter-spacing: 0.2px
    margin: 0 auto
    padding: 0 1.5625vw
    text-align: center
    width: auto

.oval
  &:before
    background: $green-footer
    border-radius: 50% 50% 0 0
    border: 1px solid $green-footer
    bottom: -100px
    content: ""
    position: absolute
    height: 80px
    left: 50%
    transform: translate( -50%, 0 )
    width: 100%
    z-index: 0

aside
  background-color: $grey-bg
  border-radius: 5px
  box-sizing: border-box
  display: none
  filter: opacity( 0.95 )
  left: 50%
  padding: 4.6875vw
  position: absolute
  transition: all 0.5s ease-out
  transform: translate( -50%, 0 )
  top: 0
  width: 100%
  z-index: 1
  &:target
    display: block
    transition: all 0.5s ease-in
  .close
    box-sizing: border-box
    color: $grey
    display: block
    float: right
    font: 0/0 "GothamBook"
    height: 9.375vw
    position: relative
    width: 9.375vw
    &:before
      background-color: $grey-bg
      box-sizing: border-box
      border-radius: 50%
      border: 3px solid $grey
      content: ""
      display: block
      height: 100%
      width: 100%
      z-index: 0
    &:after
      content: "X"
      display: block
      font: normal 6.25vw/9.375vw "GothamBook"
      height: 100%
      left: 0
      position: absolute
      text-align: center
      top: 0
      width: 100%
      z-index: 1
  h4, h5, h6
    color: $green-header
    display: block
    letter-spacing: 0.2px
    margin: 0 auto
    text-align: center
    text-transform: uppercase
  h4
    font: normal bold 4.0625vw/1em 'GothamBlack'
  h5
    font: normal bold 5.625vw/1em 'GothamBlack'
  h6
    font: normal bold 5vw/1em 'GothamBlack'
  p
    color: $grey
    display: block
    font: normal 4.375vw/1.2em 'GothamLight'
    text-align: left
    strong, a
      color: $grey
      font-family: 'GothamBlack'

